
@import "color.scss";

@import "slides.scss";
@import "frontPage.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ffdcdc;
  color: #333;
  line-height: 1.7;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}